// app global css in SCSS form
.introduction-box {
  border-style: solid;
  border-color: #287EC7;
  border-radius: 25px;
  padding: 20px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
